.msg-container {

    padding: 15px;
}

.msg{
    width: 60%;
    display: inline-block;
    margin: 0 auto;
    padding: 10px;
    border: solid 1px #000;
    text-align: center;
}

.msg.sucesso {
    color: #0F5132;
    background-color: #D1E7DD;
    border-color: #BADBCC;
}

.msg.error {
    color: #842029;
    background-color: #F8D7DA;
    border-color: #F5C2C7;
}

